        <div class="tilebox-container">
                  <div class="meta-bar">
                    <div class="label">
                      <div class="title">
                        <h2 class="font--bold"> {{games_name}}</h2>
                        <div class="console">{{games_platform}}

                        </div>
                      </div>
                    </div>
                    <div class="content">
                      <div class="inner-content">
                        <div class="title-content">
                          <div class="image-container">
                            <div class="image-wrapper">
                            <span>
                              {{image_id}}
                            </span>
                            <div>
                                {{games_release_date}}
                            </div>
                            <div>
                                {{games_genre}}
                            </div>
                          </div>
                        </div>
                        <div class="btn-container">
                         <button class="btn">
                          <span class="Vote-btn" id="ðŸ‘"></span>
                          <span class="bg"></span>
                         </button>
                         <button class="btn">
                          <span class="Vote-btn" id="ðŸ‘Ž"></span>
                          <span  class="bg"></span>
                         </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>